
.h1{
    color:blue;
    text-align: center;
}
.p{
    text-align: center;
    font-size: 25px;
}
#root{
   
    font-family: 'Roboto',"Roboto Slab";
    font-size: 16px;
}
.navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2.5rem;
        padding-left: .5rem;
    }
    .navbar .icon {
        display: none;
      }
      

@media (max-width: 768px){
        #root {
            margin: 0;
            overflow-x:hidden;
        }
    }
    @media screen and (max-width: 600px) {
        .navbar a:not(:first-child) {display: none;}
        .navbar a.icon {
          float: right;
          display: block;
        }
      }
      
    @media screen and (max-width: 600px) {
        .navbar.responsive {position: relative;}
        .navbar.responsive .icon {
          position: absolute;
          right: 0;
          top: 0;
        }
        .navbar.responsive a {
          float: none;
          display: block;
          text-align: left;
        }     
    }